extends layout

block content
  script(type='text/javascript', src='http://maps.google.com/maps/api/js?sensor=false')
  body#top
    // ################################################################################################
    // ################################################################################################
    // ################################################################################################


    .wrapper.bgded.overlay(style="background-image:url('images/demo/backgrounds/header-bg.jpg'); background-position: 30% 75%;")
      #pageintro.hoc.clear
        // ################################################################################################
        article
          div
            p.heading Posuere praesent id justo vel
            h2.heading Porta tincidunt
            p
              | Fringilla fusce egestas in nisl eu dui arcu vitae bibendum lobortis pellentesque.
          footer
            ul.nospace.inline.pushright
              li
                a.btn.inverse(href='#') SOMTHING YOU WANT TO SELL?
              li
                a.btn.btn-color(href='/products/buyproducts') BUY FROM US
        // ################################################################################################
        <div style="display:none;">Icons made by <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    // ################################################################################################
    // ################################################################################################
    // ################################################################################################
    .wrapper.row2
      .hoc.container.clear
        // ################################################################################################
        ul.nospace.group.cta
          li.one_third.first
            article
              //strong.numb 01
              strong.numb
                img(src='images/icons/leaf.svg')
              h6.heading.font-x1
                a(href='#') Vulputate ullamcorper
              p Rutrum elit nec tincidunt sed aenean aliquet mauris accumsan eget dui id…
          li.one_third
            article
              //strong.numb 02
              strong.numb
                img(src='images/icons/flask.svg')
              h6.heading.font-x1
                a(href='#') Lobortis condimentum
              p Dolor eu suscipit facilisis vestibulum vitae semper nisl vivamus a ligula…
          li.one_third
            article
              //strong.numb 03
              strong.numb
                img(src='images/icons/ecology.svg')
              h6.heading.font-x1
                a(href='#') Malesuada hendrerit
              p Nulla ut imperdiet metus aliquam iaculis mi in tortor accumsan at lobortis…
        // ################################################################################################
    // ################################################################################################
    // ################################################################################################
    // ################################################################################################
    .wrapper.row3
      main.hoc.container.clear
        // main body
        // ################################################################################################
        ul.nospace.group.services
          li.one_third.first.btmspace-30
            article
              a(href='#')
                i.fa.fa-4x.fa-language
              h6.heading.font-x1 Ligula ornare mattis
              p Mauris vel vehicula lacinia est nunc tincidunt quam sed placerat felis…
          li.one_third.btmspace-30
            article
              a(href='#')
                i.fa.fa-4x.fa-balance-scale
              h6.heading.font-x1 Vestibulum at semper
              p Vitae neque ac ullamcorper nulla id hendrerit phasellus pretium mi in…
          li.one_third.btmspace-30
            article
              a(href='#')
                i.fa.fa-4x.fa-map-signs
              h6.heading.font-x1 Tincidunt ullamcorper
              p Lacinia interdum dui diam pharetra velit eget accumsan turpis neque…
          li.one_third.first
            article
              a(href='#')
                i.fa.fa-4x.fa-binoculars
              h6.heading.font-x1 Dolor nec malesuada
              p Sagittis massa in metus vehicula blandit tellus pulvinar donec…
          li.one_third
            article
              a(href='#')
                i.fa.fa-4x.fa-paw
              h6.heading.font-x1 Ultrices ut porta sed
              p Purus elit interdum nibh cursus nisl tellus egestas nunc fusce in…
          li.one_third
            article
              a(href='#')
                i.fa.fa-4x.fa-qrcode
              h6.heading.font-x1 A viverra vestibulum
              p Id condimentum ligula purus non massa mattis rhoncus cum…
        // ################################################################################################
        // / main body
        .clear
    // ################################################################################################
    // ################################################################################################
    // ################################################################################################
    .wrapper.bgded.overlay(style="background-image:url('images/demo/backgrounds/portfolio-bg.jpg');")
      article.hoc.container.clear.center
        // ################################################################################################
        h2.font-x3 Parturient montes
        p.btmspace-50
          | Ridiculus mus sed pretium erat quis eros imperdiet nec suscipit diam venenatis ut a ipsum pulvinar tincidunt…
        p.nospace
          //img(src='/images/icons/dabur_logo.png', style='height:100px; width:120px; border-radius:10px', alt='Dabur')
          a.btn-color.btn.medium(href='#') Read More »
        // ################################################################################################
    // ################################################################################################
    // ################################################################################################
    // ################################################################################################
    .wrapper.row3
      section.hoc.container.clear
        // ################################################################################################
        .center.btmspace-80
          h3.font-x3.nospace In egestas massa
          p.nospace
            | Maecenas in laoreet ante nulla varius ullamcorper augue ut lacinia turpis mauris commodo in sem
            a(href='#') quis mollis
            | .
        .group
          .one_third.first
            a(href='#')
              img.btmspace-30(src='images/demo/320x240.png', alt='')
            h2 Venenatis eget tristique
            p
              | Sodales est ac maximus scelerisque fusce tempus libero tempus congue vulputate enim nunc pretium sem…
            p.nospace
              a(href='#') Read More »
          article.one_third
            a(href='#')
              img.btmspace-30(src='images/demo/320x240.png', alt='')
            h3.heading John Doe
            p
              | Vel tempus dolor eros in nunc curabitur vel dapibus quam nullam in vestibulum nisi proin nunc quam aliquet ut est…
            p.nospace
              a(href='#') Read More »
          article.one_third
            a(href='#')
              img.btmspace-30(src='images/demo/320x240.png', alt='')
            h3.heading Jane Doe
            p
              | Interdum velit aliquam vel dui sed lorem iaculis blandit et quis lorem nam cursus eget tortor id tristique nunc…
            p.nospace
              a(href='#') Read More »
        // ################################################################################################
    // ################################################################################################
    // ################################################################################################
    // ################################################################################################
    footer#footer.hoc.clear
      // ################################################################################################
      .one_third.first.first_half
        //h6.title Massa viverra nullam
        //p
        //    | Egestas purus quis arcu sagittis vitae finibus lorem egestas fusce maximus aliquam mi ac placerat tortor molestie.
        //p.btmspace-15
        //    | Eu metus et elementum luctus nunc in dictum massa in felis feugiat rhoncus proin faucibus ante sit amet metus.
        //ul.faico.clear
        //    li
        //        a.faicon-facebook(href='#')
        //            i.fa.fa-facebook
        //    li
        //        a.faicon-twitter(href='#')
        //            i.fa.fa-twitter
        //    li
        //        a.faicon-dribble(href='#')
        //            i.fa.fa-dribbble
        //    li
        //        a.faicon-linkedin(href='#')
        //            i.fa.fa-linkedin
        //    li
        //        a.faicon-google-plus(href='#')
        //            i.fa.fa-google-plus
        //    li
        //        a.faicon-vk(href='#')
        //            i.fa.fa-vk
        #map(style='width: 100%; height: 250px;')
      .one_third.first_half
        h6.title Massa mi duis tortor
        ul.nospace.linklist.contact
          li
            i.fa.fa-map-marker
            address
              | Street Name & Number, Town, Postcode/Zip
          li
            i.fa.fa-phone
            |  +00 (123) 456 7890
          li
            i.fa.fa-fax
            |  +00 (123) 456 7890
          li
            i.fa.fa-envelope-o
            |  info@domain.com
      //.one_third
          h6.title Justo efficitur ultrices
          ul.nospace.linklist
              li
                  article
                      h2.nospace.font-x1
                          a(href='#') Vel diam neque nunc
                      time.font-xs.block.btmspace-10(datetime='2045-04-06')
                          | Friday, 6
                          sup th
                          |  April 2045
                      p.nospace Vitae feugiat nisi eget magna at arcu viverra posuere donec aliquam…
              li
                  article
                      h2.nospace.font-x1
                          a(href='#') Quis hendrerit libero
                      time.font-xs.block.btmspace-10(datetime='2045-04-05')
                          | Thirsday, 5
                          sup th
                          |  April 2045
                      p.nospace Cras auctor metus vel augue gravida ultrices maecenas consectetur…
  script.
    $(function () {
      initializemap();
    })