extends ../layout

block content
    script(src='../javascripts/productsjs.js')
    .wrapper.row2
        #listproductstoselect.hoc.container.clear
        #orderForm.hoc.container.clear<!--(style='display:none;')-->
            h3 Fill your details and We will contact you
            p You personal details are safe with us, you just need to fill the form to complete your order request and we will contact you back.
            p(style='font-style: italic; font-size: 10px;') *NO PAYMENT ON ORDER
            .container
                .row
                    .col-md-6.col-sm-9.col-xs-12(style="")
                        .form-login
                            input#userNameOrder.form-control.input-sm.chat-input(type='text', placeholder='Name')
                            br
                            input#userEmailOrder.form-control.input-sm.chat-input(type='email', placeholder='E-mail')
                            br
                            input#userContactnoOrder.form-control.input-sm.chat-input(type='text', placeholder='Contact No.')
                            br
                            textarea#userAddressOrder.form-control.input-sm.chat-input(placeholder='Address')
                            .wrapper
                                span.group-btn
                                    button(type='button' onclick='showorderlistonclick();' class='productpageback') Back!
                                    a.btn.btn-primary.btn-md(href='javascript:void(0);' onclick="proceedwithorder();")
                                        | login
                                        //i.fa.fa-sign-in
            //button(type='button' onclick='showorderlistonclick1();' class='productpageconfirm') Confirm
    .wrapper.row1
        .container#userInfoOnOrder
                h2 Order Places For
                p
                    strong Name:
                    span#userInfoOnOrderName
                    br
                    strong Email:
                    span#userInfoOnOrderEmail
                    br
                    strong Phone Number:
                    span#userInfoOnOrderPhone
                    br
                    strong Address:
                    span#userInfoOnOrderAddress
    script(type='text/javascript').
        populateBuyPageList();
