extends ../layout

block content
    script(src='../javascripts/productsjs.js')
    .wrapper.row2
        .container
            .row.bs-wizard(style='border-bottom:0;')
                .col-xs-3.bs-wizard-step.complete#step_first
                    .text-center.bs-wizard-stepnum 1. Start Buying Process
                    .progress
                        .progress-bar
                    a.bs-wizard-dot(href='#')
                    .bs-wizard-info.text-center No need to pay for your online order. It is your order request.
                .col-xs-3.bs-wizard-step.disabled#step_second
                    // complete
                    .text-center.bs-wizard-stepnum 2. Choose Products
                    .progress
                        .progress-bar
                    a.bs-wizard-dot(href='#')
                    .bs-wizard-info.text-center
                        | Nam mollis tristique erat vel tristique. Aliquam erat volutpat. Mauris et vestibulum nisi. Duis molestie nisl sed scelerisque vestibulum. Nam placerat tristique placerat
                .col-xs-3.bs-wizard-step.disabled#step_third
                    // complete
                    .text-center.bs-wizard-stepnum 3. Fill Details
                    .progress
                        .progress-bar
                    a.bs-wizard-dot(href='#')
                    .bs-wizard-info.text-center
                        | Integer semper dolor ac auctor rutrum. Duis porta ipsum vitae mi bibendum bibendum
                .col-xs-3.bs-wizard-step.disabled#step_fourth
                    // active
                    .text-center.bs-wizard-stepnum 4. Confirm your request
                    .progress
                        .progress-bar
                    a.bs-wizard-dot(href='#')
                    .bs-wizard-info.text-center
                        | Curabitur mollis magna at blandit vestibulum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae
        #listproductstoselect.hoc.container.clear
        #orderForm.hoc.container.clear(style='display:none;')
            h3 Fill your details and We will contact you
            p You personal details are safe with us, you just need to fill the form to complete your order request and we will contact you back.
            p(style='font-style: italic; font-size: 10px;') *NO PAYMENT ON ORDER
            .container
                .row
                    .col-md-6.col-sm-9.col-xs-12(style="")
                        .form-login
                            input#userNameOrder.form-control.input-sm.chat-input(type='text', placeholder='Name')
                            br
                            input#userEmailOrder.form-control.input-sm.chat-input(type='email', placeholder='E-mail')
                            br
                            input#userContactnoOrder.form-control.input-sm.chat-input(type='text', placeholder='Contact No.')
                            br
                            textarea#userAddressOrder.form-control.input-sm.chat-input(placeholder='Address')
                            .wrapper
                                span.group-btn(style="display: block;margin-top: 26px;text-align: center;")
                                    button(type='button' onclick='showorderlistonclick();' class='btn btn-danger btn-md') Back
                                    button(type='button' onclick='showconfirmationbox();' class='btn btn-success btn-md') Confirm
    .wrapper.row1
        .container#userInfoOnOrder(style='display: none;')
                h2 Order Places For
                p
                    strong Name:
                    span#userInfoOnOrderName
                    br
                    strong Email:
                    span#userInfoOnOrderEmail
                    br
                    strong Contact:
                    span#userInfoOnOrderPhone
                    br
                    strong Address:
                    span#userInfoOnOrderAddress
                button.btn.btn-success.btn-md(type='button' onclick="proceedwithorder();")
                    | Send Order
                    //i.fa.fa-sign-in
    .wrapper.row2
        .hoc.container.clear
            h2 Product List
            #productList
                table
                    thead
                        th Name
                    tbody
    script(type='text/javascript').
        populateBuyPageList();
