extends ../layout

block content
    script(src='../javascripts/productsjs.js')
    .wrapper.row2
        #listproductstoselect.hoc.container.clear
    script(type='text/javascript').
        populateBuyPageList();
