extends ../layout

block content
    script(src='/javascripts/productsjs.js')
    // USER LIST
    .wrapper.row2
        .hoc.container.clear
            h2 Product List
            #productList
                table
                    thead
                        th Name
                        th Description
                    tbody
    // /USER LIST
    script(type='text/javascript').
        populateTable();