extends ../layout

block content
    script(src='../javascripts/productsjs.js')
    .wrapper.row2
        .hoc.container.clear
            // ################################################################################################
            ul.nospace.group.cta
                li.one_third.first
                    article
                        //strong.numb 01
                        strong.numb
                            img(src='images/icons/list.svg')
                        h6.heading.font-x1
                            a(onclick='addProfunc();' style='cursor: pointer;') Add Products
                        p Rutrum elit nec tincidunt sed aenean aliquet mauris accumsan eget dui id…
                li.one_third
                    article
                        //strong.numb 02
                        strong.numb
                            img(src='images/icons/shopping-cart.svg')
                        h6.heading.font-x1
                            a(href='#') Check Orders
                        p Dolor eu suscipit facilisis vestibulum vitae semper nisl vivamus a ligula…
                li.one_third
                    article
                        //strong.numb 03
                        strong.numb
                            img(src='images/icons/ecology.svg')
                        h6.heading.font-x1
                            a(href='#') Malesuada hendrerit
                        p Nulla ut imperdiet metus alica iaculis mi in tortor accumsan at lobortis…
    // USER LIST
    #addproductdiv.wrapper.row2(style='display:none;')
        .hoc.container.clear
            h2 Product List
            #productList
                table
                    thead
                        th Name
                        th Description
                    tbody
            // /USER LIST
            h2 Add New Product
            #addproduct
              fieldset
                input#inputProductName(type='text', placeholder='Product Name')
                input#inputProductDescription(type='text', placeholder='Product Description')
                br
                //input#inputUserFullname(type='text', placeholder='Full Name')
                //input#inputUserAge(type='text', placeholder='Age')
                //br
                //input#inputUserLocation(type='text', placeholder='Location')
                //input#inputUserGender(type='text', placeholder='gender')
                //br
                button#btnAddProduct.btn.btn-warning Add Product

    script(type='text/javascript').
        populateTable();